.usuario {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 15%;
    margin: 20px;
}

.usuario h2 {
    margin-bottom: 10px;
    color: #333;
}

.usuario p {
    font-size: 20px;
    margin: 5px 0;
    color: #666;
}

.usuario img {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50px;
}